.canvas-container{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

canvas {
  background-color: rgb(36, 34, 34);
}

.text-2xl {
  font-family: "PxPlus_IBM_VGA_8x16";
}